.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.7rem;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  color: #243537;
}

.text-button {
  border: none;
  background-color: transparent;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: #374C4E;
}
.text-button:hover {
  color: #73888a
}
.text-button:active {
  color: #2e3e3f
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.3rem;
}

.input {
  border: none;
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 1.2rem;
}

.input-label {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #b96b64;
}

.submit-button {
  font: inherit;
  font-weight: 500;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: #b96b64;
  color: white;
  font-size: 1.3rem;
}
.submit-button:hover {
  background-color: #e08f88;
}
.submit-button:active {
  background-color: #b96b64;
}